@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background: black;
  padding-top: 100px;
}

* {
  font-family: "Roboto", sans-serif;
}

#container-box {
  width: 250px;
  margin: auto;
  box-shadow: 0px 0px 2px 2px grey;
  padding: 15px;
  border-radius: 5px;

  .input {
    background: black;
    color: white;
    box-shadow: 0px 0px 2px 2px grey;
    height: 50px;
    text-align: right;
    font-size: 40px;
    font-weight: 500;
    padding: 10px 10px 0;
    border-radius: 5px;
  }
  .hide-extra-numbers {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #btn-box {
    padding-left: 3%;

    .AC {
      margin-bottom: 10px;
      background: orange;
    }
    button {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      font-size: 25px;
      border: none;
      cursor: pointer;
    }

    #btn {
      display: grid;
      grid-template-columns: repeat(4, 50px);
      grid-template-rows: repeat(4, 50px);
      gap: 10px;

      .btn-num {
        background: #423f3e;
        color: white;

        &:focus {
          background: #8f8f8f;
        }
      }

      .operand {
        background: orange;

        &:focus {
         //background-color: orangered;
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0!important;
  }
  #container-box {
    width: 100%;
    margin: auto;  
    box-shadow: none;
    padding:0;
    margin: 0;

    .input {
        height: 80px!important;
        font-size: 55px!important;
    }
  } 
   #btn-box { 
     
    .AC {
        height: 80px!important;
        width: 80px !important; ; 
    }
   

    #btn {
        display: grid !important;
        grid-template-columns: repeat(4, 80px) !important;
        grid-template-rows: repeat(4, 80px) !important;
        gap: 10px !important;

        button {
            height: 80px !important;
            width: 80px !important;
            }
    } 
  }
} 